.card {
  /* background-color: grey; */
  border-radius: 10px;
}

.heading {
  background-color: rgba(249, 250, 251, 255);
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.title h3 {
  margin-right: 10px;
}

.badge {
  color: rgba(6, 95, 70, 255);
  background-color: rgba(209, 250, 229, 255);
  font-weight: 600;
  border-radius: 10px;
  padding: 2px 15px;
  text-align: center;
  font-size: 12px;
}

.date {
  flex-grow: 2;
  /* background-color: blue; */
  text-align: end;
}

h2 {
  background-color: lightgrey;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  /* margin: 0; */
}

h3 {
  margin: 0;
}

p {
  line-height: 1.5;
  margin: 0;
}

ul {
  padding: 0;
}

.notification {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 0;
  border-radius: 0;
}

.alternateNotification {
  display: flex;
  justify-content: space-between;
  /* background-color: white; */
  border: 0;
  border-radius: 0;
  border-radius: 0 0 10px 10px;
  background-color: rgba(249, 250, 251, 255);
}

.content {
  display: flex;
  flex-direction: column;
}


.button {
  color: white;
  background-color: blue;
  border: 0;
  border-radius: 5px;
  padding: 10px;
}