.layout {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(243, 244, 246, 255);
  width: 100%;
}

.cardsContainer {
  padding: 20px;
  /* background: green; */
}