.sidebar {
  background-color: rgba(31, 41, 55, 255);
  min-width: 256px;
  height: 100vh;
  color: rgba(209, 213, 219, 255);

}

.top {
  display: flex;
  /* background-color: green; */
  align-items: center;
}

.logo {
  margin-top: 27px;
  margin-left: 19px;
  /* background-color: red; */
  margin-bottom: 22px;
}

.menuIcon {
  margin-left: 57px;
  /* background-color: red; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 8px;
  /* background-color: red; */
}

li {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  /* background-color: green; */
}

.active {
  background-color: rgba(17, 24, 39, 255);
}

.icon {
  margin-right: 15px;
}