.App {
  width: 100vw;
}

.App-link {
  color: #61dafb;
}

.cardsRow {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 14px;
}